IDI_ICON1 ICON "icon.ico"

#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0x0L
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "FileDescription",  "Compact Launcher - Minecraft Launcher"
            VALUE "FileVersion",      "1.1.0.0"
            VALUE "ProductName",      "Compact Launcher"
            VALUE "ProductVersion",   "1.1.0.0"
            VALUE "LegalCopyright",   "Copyright (C) 2026 vulkansdk"
            VALUE "CompanyName",      "vulkansdk"
            VALUE "OriginalFilename", "CompactLauncher.exe"
            VALUE "InternalName",     "Compact Launcher"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
